@model IEnumerable<TesteTecnicoTechNation.Application.DTOs.NotaFiscalDTO>

<hr />
<br />
<div class="panel panel-default">
	<table class="table table-striped ">
		<thead>
			<tr>
				<th class="text-start">Nome do Pagador</th>
				<th class="text-center">Data de Emissão</th>
				<th class="text-center">Data de Cobrança</th>
				<th class="text-center">Data do Pagamento</th>
				<th class="text-center">Valor da Nota</th>
				<th class="text-center">Documento da Nota Fiscal</th>
				<th class="text-center">Documento do Boleto Bancário</th>
				<th class="text-center">Status</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td class="text-start">@item.Nome_Pagador</td>
					<td class="text-center">@item.DT_Emissao.ToString("dd/MM/yy")</td>
					<td class="text-center">@item.DT_Cobranca.ToString("dd/MM/yy")</td>
					<td class="text-center">@item.DT_Pagamento.ToString("dd/MM/yy")</td>
					<td class="text-center">@item.VL_Nota.ToString("C2", new System.Globalization.CultureInfo("pt-BR"))</td>
					<td class="text-center">@item.Documento_Nota</td>
					<td class="text-center">@item.Documento_Boleto</td>
					<td class="text-center">@item.ST_Nota</td>
				</tr>
			}
		</tbody>
	</table>
</div>
